@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Rubik", sans-serif;
    color: #2C2C2C;
}

h1 {
    color: white;
    font-weight: 500;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: -0.29px;
    margin-top: 2%;
}

h2 {
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.23px;
    margin-left: 30px;
}

h3 {
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1.75px;
    margin-left: 30px;
}

hr {
    width: 1px;
    color: #000000;
    height: 55%;
    align-self: center;
}

.container {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(225deg, #5F86F2 2.99%, #443D97 100%);
}

input, button {
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
}

.ipInput {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 30%;
    margin-top: 3%;
}

#inputNumber {
    width: 85%;
    height: 100%;
    box-shadow: 0px 50px 50px -25px #00000019;
    background-color: #FFFFFF;
    border-radius: 12px 0px 0px 12px;
    padding-left: 5%;
}

#inputImage {
    width: 15%;
    height: 100%;
    border-radius: 0px 12px 12px 0px;
    background-color: #000000;
}

.ipIntel {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: -50px;
    background-color: white;
    box-shadow: 0px 50px 50px -25px #00000019;
    border-radius: 12px;
    z-index: 1;
}

#ipIntelDiv{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    justify-content: center;
    gap: 5px;
}

#map {
    width: 100%;
    height: 65%;
    z-index: 0;
}